build --define=with_glog=true --define=libunwind=true
build --copt -DHAVE_ZLIB=1 --copt -DGFLAGS_NS=google --copt -DUSE_BTHREAD_MUTEX
build --cxxopt -Wno-error=format-security
build --copt -fdiagnostics-color
build --cxxopt -faligned-new

build:asan --linkopt -fsanitize=address --copt -fno-omit-frame-pointer --copt -g --copt -fno-common

